.archive-product {
  margin-top: cross-media(60px, 991px, 120px);

  // &__container {
  //   display: grid;

  //   @include view(lg-min) {
  //     grid-template-columns: 1fr 4fr;
  //   }
  // }

  &__grid {
    display: grid;
    gap: cross-media(16px, 1024px, 24px);

    @include view(lg-min) {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 40px;
    }

    @include view(md-max) {
      grid-template-columns: 1fr 1fr;
    }

    @include view(xs) {
      grid-template-columns: 1fr;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
      & .archive-product {
        &__featured-image {
          transform: scale(1);
        }
      }

      & .link--arrow:after {
        animation: link-arrow 1.2s ease-in-out 0s infinite reverse;
      }
    }
  }

  &__img-container {
    aspect-ratio: 9/12;
    height: cross-media(250px, 991px, 450px);
    overflow: hidden;
    flex-shrink: 0;
    background-color: $white;

    @include view(xxl) {
      height: cross-media(450px, $xxl-breakpoint, 450px * $xxl-scale);
    }
  }

  &__featured-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

    transform: scale(0.9);
    transition: 0.3s ease-out;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: cross-media(20px, 1024px, 40px);
    max-width: 80%;
    flex: 1;
    min-width: 0;

    @include view(lg-min) {
      display: grid;
      grid-template-rows: auto 1fr;
    }
  }

  &__heading {
    text-align: center;
    font-size: 32px;
    text-transform: lowercase;
  }

  &__product-category {
    color: $accent;
  }

  &__product-title {
    font-size: 20px;
    font-weight: 300;
  }

  &__link {
    font-size: 15px;
    align-self: end;

    @include view(xxl) {
      font-size: cross-media(15px, $xxl-breakpoint, 15px * $xxl-scale);
    }
  }

  //////////

  &__pagination-container {
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-areas: "prev pages next";
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;

    margin-top: cross-media(60px, 991px, 120px);
    padding: 0 40px;

    @include view(lg-min) {
      grid-column: 2/4;
      width: calc(100% - 100px);
      margin-left: 100px;
    }
  }

  &__pagination {
    justify-self: center;
    grid-area: pages;
  }

  &__pagination-button {
    padding: 0;
    font-weight: 300;
    text-transform: uppercase;

    &--previous {
      grid-area: prev;
    }

    &--next {
      justify-self: end;
      grid-area: next;
    }
  }

  &__pages {
    display: flex;
    gap: 16px;
    cursor: pointer;
  }
}
