/*
// BOILERPLATE CAROUSEL
.carousel {
    &__track {
      overflow-x: hidden;
    }
  
    &__container {
      display: flex;
  
      @include view(lg-min) {
        gap: 16px;
      }
    }
  
    &__slide {
      color: $black;
      cursor: grab;
    }
  
    &__button {
      cursor: pointer;
      transform: rotate(0deg);
  
      &--previous {
        transform: rotate(180deg);
      }
  
      &::after {
        @include icon("\e901");
        padding: 8px;
      }
    }
  
    &__controls {
      display: flex;
      align-items: center;
      gap: cross-media(20px, 1024px, 40px);
      margin-top: cross-media(40px, 1024px, 80px);
      margin-inline: auto;
    }
  
    &__dots {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
    &__dot {
      height: 2px;
      width: 100%;
      background-color: rgba($black, 0.3);
      cursor: pointer;
    }
  
    & .glide__bullet--active {
      background-color: $black;
    }
  }
  */

// Parallax Carousel
.parallax-carousel {
  display: flex;
  gap: cross-media(8px, 991px, 32px);
  inset: 0;
  margin: auto;
  user-select: none; // Prevent image highlighting

  &__image {
    width: 400px;
    height: 560px;
    object-fit: cover;
    object-position: 50% 50%;

    @include view(md-max) {
      max-height: cross-media(300px, 767px, 650px);
      aspect-ratio: 2/3;
    }

    // 4K
    @include view(ultra) {
      width: cross-media(400px, 3000px, 600px);
      height: cross-media(380px, 3000px, 840px);
    }
  }
}

// Asymmetrical Carousel
.asymmetrical-carousel {
  position: relative;
  // overflow: hidden;

  @include view(lg-min) {
    padding-bottom: 80px;
  }

  @include view(md-max) {
    padding: 80px 0 0 0;
  }

  .slides-container {
    position: relative;
    padding-top: 100px;
  }

  &__container {
    display: flex;
    gap: 0.8px;
    align-items: center;
  }

  &__container > * {
    flex-shrink: 0;
  }

  &__column {
    position: relative;
    margin: auto;

    &--1 {
      transform: translateY(64px);

      @include view(md-max) {
        transform: translateY(32px);
      }

      & .asymmetrical-carousel__image {
        aspect-ratio: 4/3;
        width: cross-media(264px, 991px, 550px);

        // 4K
        @include view(ultra) {
          // width: calc(1.5 * 550px);
          width: cross-media(550px, 3000px, 1100px);
        }
      }
    }

    &--2 {
      transform: translateY(-80px);

      @include view(md-max) {
        transform: translateY(-40px);
      }

      & .asymmetrical-carousel__image {
        aspect-ratio: 4/5;
        width: cross-media(180px, 991px, 400px);

        // 4K
        @include view(ultra) {
          // width: calc(1.5 * 400px);
          width: cross-media(400px, 3000px, 800px);
        }
      }
    }

    &--3 {
      & .asymmetrical-carousel__image {
        aspect-ratio: 4/6;
        width: cross-media(180px, 991px, 400px);

        // 4K
        @include view(ultra) {
          // width: calc(1.5 * 400px);
          width: cross-media(400px, 3000px, 800px);
        }
      }
    }

    &--4 {
      transform: translateY(-32px);

      @include view(md-max) {
        transform: translateY(-16px);
      }

      & .asymmetrical-carousel__image {
        aspect-ratio: 4/3;
        width: cross-media(264px, 991px, 550px);

        // 4K
        @include view(ultra) {
          // width: calc(1.5 * 550px);
          width: cross-media(550px, 3000px, 1100px);
        }
      }
    }
  }

  // &__image {
  //   max-height: 800px;
  // }

  &__text-container {
    position: absolute;
    top: calc(100% + 12px);
    padding: 0 cross-media(12px, 991px, 20px);
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: cross-media(8px, 991px, 16px);
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    gap: $gap;
    pointer-events: none;
    user-select: none;

    @include view(md-max) {
      width: 50%;
      top: 0;
      transform: translateX(50%);
      // right: 50%;
    }

    @include view(lg-min) {
      width: 100%;

      display: flex;
      text-align: center;
    }

    // mix-blend-mode: difference;

    &--dark {
      color: $black;
    }

    &--light {
      color: $white;

      @include view(md-max) {
        color: $black;
      }
    }

    // &--dark,
    // &--light {
    //   //
    // }
  }

  &__category {
    color: $accent;
  }

  &__image {
    object-fit: cover;
    max-width: 550px;

    // 4K
    @include view(ultra) {
      // max-width: calc(1.5 * 550px);
      max-width: cross-media(550px, 3000px, 1100px);
    }
  }

  &__button {
    margin-top: $gap;
  }
}

// Simple Carousel
.simple-carousel {
  display: flex;
  align-items: center;
  gap: 80px;
  max-width: 1280px;
  // margin: auto;

  &__button {
    cursor: pointer;
    transform: scale(3);
  }
}

.slides {
  overflow: hidden;
  // padding: 60px 0px;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: auto;

  @include view(md-max) {
    overflow: revert;
  }

  &__container {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 25px;
    min-height: 550px;

    @include view(md-max) {
      position: relative;
      justify-content: center;
    }
  }

  &__slide {
    min-width: 360px;
    flex-grow: 1;

    @include view(md-max) {
      position: absolute;
      top: 0;
    }
  }
}
