// Loader
.loader {
  display: grid;
  place-items: center;
  position: fixed;
  // inset: 0;
  // width: 100vw;
  height: 100%;
  z-index: 999;
  top: 0;
  // min-height: 100vh;
  // min-height: 100svh;
  width: 100%;
  // background: $secondary;
  overflow: hidden;
  // transform: scale(2);
  color: $white;

  &__text {
    min-width: 100px;
    text-align: center;
    font-size: cross-media(40px, 991px, 60px);
  }

  &--1 {
    background: $secondary;
    z-index: 999;
  }

  &--2 {
    background-color: $accent;
    z-index: 9999;
    display: none;
  }
}

.button {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 0.8rem 1.5rem;
  border: none;
  background: $white;
  border: solid 2px $black;
  border-radius: 5rem;
  text-transform: lowercase;
  color: $white;
  pointer-events: auto;
  cursor: pointer;

  // 4K
  @include view(xxl) {
    // padding: calc(1.5 * 1.6rem) calc(1.5 * 3rem);
    padding: cross-media(25px, 3000px, 38px) cross-media(24px, 3000px, 36px);
  }

  &:hover {
    span {
      color: #fff;
      .ic-btn-arrow {
        animation: arrowBounce 1.2s ease-in-out 0s infinite reverse;
      }
    }
  }

  &:before,
  &:after {
    position: absolute;
    inset: 0;
  }

  &:before {
    content: "";
    background: $black;
    width: 170%;
    // height: 0;
    padding-bottom: 120%;
    top: -100%;
    left: -30%;
    border-radius: 50%;
    transform: translate3d(0, 70%, 0) scale3d(0, 0, 0);
  }

  &:after {
    content: "";
    background: $black;
    border-radius: 5%;
    transform: translate3d(0, -110%, 0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }

  &:hover:before {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }

  &:hover:after {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.05s;
    transition-delay: 0.4s;
    transition-timing-function: linear;
  }

  &__text {
    display: flex;
    align-items: center;
    position: relative;
    color: $black;
    z-index: 10;
    transition: 0.4s ease;

    &::after {
      content: "\e900";
      font-family: "icomoon";
      font-size: 10px;
      margin-left: 12px;
    }

    &--back {
      &::after {
        content: "";
      }

      &::before {
        content: "\e900";
        font-family: "icomoon";
        font-size: 10px;
        margin-right: 12px;
        transform: scaleX(-1);
      }
    }
  }
}

// Button Small
.link {
  text-transform: lowercase;
  // Arrow
  &--arrow {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:after {
      @include icon("\e900");
      font-size: 6px;

      // 4K
      @include view(xxl) {
        // font-size: calc(1.5 * 6px);
        margin-top: 4px;
        font-size: cross-media(6px, 3000px, 9px);
      }
    }

    &:hover:after {
      animation: link-arrow 1.2s ease-in-out 0s infinite reverse;
    }
  }

  // Line
  &--line {
    position: relative;
    white-space: nowrap;

    &::before {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      top: 100%;
      left: 0;
      pointer-events: none;
    }

    &::before {
      content: "";
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
    }

    &:hover::before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }
}

// Custom Checkbox - Always add this class to the label element that contains the input
.custom-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  // Hide the browser's default checkbox
  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // Create a custom checkbox
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid $black;
    background-color: $white;
  }

  // Create the checkmark/indicator (hidden when not checked)
  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  // Show the checkmark when checked
  & input:checked ~ &__checkmark:after {
    display: block;
  }

  // Style the checkmark/indicator
  &__checkmark:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    rotate: 45deg;
    // -webkit-transform: rotate(45deg);
    // -ms-transform: rotate(45deg);
    // transform: rotate(45deg);
  }
}

// Hashtag Container
.hashtag-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: cross-media(4px, 991px, 8px);
  padding: 12px cross-media(40px, 991px, 80px);
  background-color: rgba($secondary, 0.2);
  border-radius: 80px;
}

// Hamburger
.hamburger {
  position: relative;
  width: 36px;
  height: 36px;

  &__top,
  &__bottom {
    position: absolute;
    height: 2px;
    width: 36px;
    background-color: $black;
    transform-origin: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 300ms;
  }

  &__top {
    transform: translateY(-4px);
    &.active {
      // width: 50px;
      transform: rotate(45deg) translateY(0);
    }
  }

  &__bottom {
    transform: translateY(4px);
    // margin-top: 8px;
    // background-color: red;
    &.active {
      // margin-top: 0;
      // width: 50px;
      transform: rotate(-45deg) translateY(0);
    }
  }
}

// Marquee
.marquee {
  padding-top: cross-media(30px, $box, 60px);

  @include view(xxl) {
    padding-top: cross-media(60px, 2560px, 60px * $xxl-scale);
  }
}

// Search
.search-form {
  &__button {
    @include clear-styles;
  }
}

// Drag Cursor
.cursor-track {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba($white, 0.4);
  transform: translate(-50%, -50%);

  pointer-events: none;
  transition: opacity 0.4s, width ease 0.8s, height ease 0.8s,
    background-color ease 0.3s, border-radius ease 0.8s;
  will-change: scale;

  &--active {
    // background-color: $white-op-80;
    opacity: 1;
    width: 80px;
    height: 80px;
    backdrop-filter: blur(15px);

    @include view(xxl) {
      width: cross-media(80px, 3000px, 120px);
      height: cross-media(80px, 3000px, 120px);
    }

    &:after {
      content: "drag";
      font-size: cross-media(14px, 3000px, 16px);

      @include view(xxl) {
        font-size: cross-media(16px, 3000px, 24px);
      }
    }
  }

  // &--clicked {
  //   background-color: rgba($accent, 0.6);
  // }
}

// Errors
.error-message {
  color: red;
}
