.contact {

  & .hero {
    height: auto;
    min-height: auto;
  }

  &__body {
    form {
      @include view(md-max) {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    form {
      select,
      input {
        @include clear-styles;
        border-bottom: solid 1px $black;
        color: $black;
      }

      input {
        &::-webkit-input-placeholder {
          color: $secondary;
        }
      }

      select {
        @include view(lg-min) {
          max-height: 36px;
          margin-left: 24px;
        }
      }

      textarea {
        max-height: 165px;
        margin-top: 8px;
        padding: 12px;
        background-color: rgba($secondary, 0.1);
        border: solid 1px transparent;

        &:focus-visible {
          border: solid 1px $secondary;
          outline: none;
        }
      }

      input[type="submit"] {
        @include clear-styles;
        width: 100px;
        position: absolute;
        right: 0;
        text-transform: lowercase;
        cursor: pointer;
      }

    }
  }

  &__message {
    grid-column: 1/5;
    display: grid;
    margin-top: cross-media(16px, 991px, 28px);
    color: $secondary;
  }

  &__terms {
    grid-column: 1/4;
  }

  &__submit {
    justify-self: end;
    position: relative;
    width: fit-content;
  }
}

.contact-info {

  &__container {
    display: flex;
    flex-direction: column;
    gap: cross-media(10px, $box, 16px);

    @include view(xxl) {
      gap: cross-media(16px, 3000px, calc(16px * $xxl-scale));
    }
  }

  &__text-grid {
    @include view(lg-min) {
      max-width: 65%;
    }
  }

}

.contact-info-box {
  margin-top: cross-media(20px, 991px, 40px);
  padding: cross-media(10px, $box, 20px);
  background-color: rgba($secondary, 0.1);

  @include view(xxl) {
    padding: cross-media(20px, 3000px, calc(20px * $xxl-scale));
  }

  &__link {
    &--accent {
      color: $secondary;
    }
  }
}

.contact-img {
  width: 35%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @include view(md-max) {
    top: 0;
    transform: translateY(-65%);
    min-width: 250px;
  }

  & img {
    @include view(xxl) {
      width: cross-media(393px, $xxl-breakpoint, calc(393px * $xxl-scale));
    }
  }
}
