.fresh-freeze-steps {
    &__steps {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: cross-media(16px, $box-md, 32px);

        @include view(md-max) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1.2fr;

        @include view(md-max) {
            max-width: 450px;
        }
    }

    &__text-container {
        padding-block: 20px;
        border-left: 1px solid $secondary;
        padding-left: 16px;
    }

    &__img-container {
        align-self: center;
        mix-blend-mode: multiply;
    }
}

.fresh-freeze-difference {
    &__diagram {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;

        @include view(sm-max) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    &__img-container {
        mix-blend-mode: multiply;
            max-width: cross-media(340px, 1024px, 400px);

        @include view(xxl) {
            max-width: cross-media(400px, $xxl-breakpoint, calc(400px * $xxl-scale));
          }
    }

    &__text {
        display: grid;
        align-items: center;
        gap: 10px;
        
        @include view(md-min) {
            &--1 {
                grid-template-columns: max-content 1fr;
            }
            &--2 {
                grid-template-columns: 1fr max-content;
            }
        }

        @include view(sm-max) {
            justify-content: center;
            text-align: center;
        }
    }

    &__line {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: $secondary;

        &::after {
            content: "";
            position: absolute;
            width: cross-media(8px, 768px, 10px);
            height: cross-media(8px, 768px, 10px);
            border-radius: 50%;
            background-color: $secondary;
            top: 50%;
            transform: translateY(-50%);
        }

        &--1 {
            &::after {
                left: 0;
            }
        }

        &--2 {
            &::after {
                right: 0;
            }
        }

        @include view(sm-max) {
            width: 1px;
            height: 80px;
            margin-inline: auto;

            &::after {
                left: 50%;
                transform: translateX(-50%);
            }

            &--1 {
                &::after {
                    top: 0;
                }
            }
    
            &--2 {
                &::after {
                    top: revert;
                    bottom: 0;
                }
            }
        }
    }
}