// Header
.header {
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 50px;
  transition: all ease;
  position: fixed;

  &__container {
    z-index: 999;
    display: grid;
    grid-template-columns: 3fr max-content 2.5fr 0.5fr;
    place-items: center;
    margin-top: cross-media(0px, 991px, 50px);

    @include view(md-max) {
      position: relative;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__hamburger {
    justify-self: start;

    @include view(lg-min) {
      display: none;
    }
  }

  &__logo-container {
    max-width: cross-media(72px, 991px, 112px);
    z-index: 100;
    position: relative;

    @include view(md-max) {
      order: 1;
    }

    @include view(ultra) {
      // max-width: calc(1.5 * 113px);
      max-width: cross-media(113px, 3000px, 170px);
    }
  }

  &__logo {
    transition: all ease 1s;

    // &--sticky {
    //   position: absolute;
    //   // inset: 0;
    //   margin: auto;
    //   visibility: hidden;
    //   opacity: 0;
    //   transition: all ease 0.5s;
    //   color: $white;
    //   min-width: 500px;
    //   text-align: center;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   font-weight: 200;
    // }
  }

  // &--sticky {
  //   background-color: $white;
  // }

  &--sticky {
    @include view(lg-min) {
      mix-blend-mode: difference;
    }

    // .main-menu {
    //   width: revert;
    // }

    a {
      @include view(lg-min) {
        color: $white;
        font-weight: 200;
        letter-spacing: -0.02em;
      }

      // &-2 {
      //   ul {
      //     justify-content: start;
      //   }
      // }
    }

    // .header__container {
    //   grid-template-columns: 3fr 500px 2.5fr 0.5fr;
    //   // align-items: start;
    // }

    // .header__logo-container {
    //   justify-self: start;
    //   width: 100%;
    // }

    .header__logo {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-1500px);
    }

    // .header__logo--sticky {
    //   visibility: visible;
    //   opacity: 1;
    // }

    // .search {
    //   display: none;
    // }

    .search__background,
    .search__toggle {
      @include view(lg-min) {
        background-color: $black;
      }
    }

    .search__toggle {
      &--open {
        &:after {
          @include view(lg-min) {
            color: $white;
          }
        }
      }
    }
  }
}

// Main Menu
.main-menu {
  width: 100%;

  @include view(md-max) {
    position: absolute;
    top: 150%;
    // padding: 40px;
    min-height: 100dvh;
    left: -100%;
    background-color: $white;
  }

  ul {
    list-style-type: none;

    @include view(lg-min) {
      padding: 0;
    }
  }

  &__list {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: cross-media(24px, 991px, 64px);
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;

    &:first-child {
      @include view(md-max) {
        padding-top: 40px;
      }
    }

    @include view(md-max) {
      // width: fit-content;
      flex-direction: column;
      align-items: start;
      gap: 0px;
      // padding-top: 40px;
    }

    @include view(ultra) {
      // font-size: calc(1.5 * 18px);
      font-size: cross-media(18px, 3000px, 27px);
    }
  }

  & .menu-item-has-children {
    @include view(md-max) {
      &:after {
        @include icon("\e906");
        font-weight: 800;
        margin-left: auto;
      }
    }
  }

  &__back-button {
    width: fit-content;
    margin-left: auto;
    padding-right: 40px;
    padding-bottom: 20px;

    &:after {
      @include icon("\e907");
      font-size: 20px;
      font-weight: 800;
    }
  }

  & li {
    @include view(md-max) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // flex-direction: column;
      width: 100%;

      padding: 8px 40px;

      &:before {
        content: "";
        flex-grow: 1;
        order: 1;
        border-bottom: solid 1px rgba($secondary, 0.5);
        width: 100%;
        height: 1px;
        padding: 8px 0;
      }
    }

    & .new {
      & a {
        display: flex;
        align-items: center;
        width: fit-content;
        &:after {
          content: "new";
          padding: 0px 4px;
          margin-left: 4px;
          margin-top: -4px;
          border: solid 1px $black;
          border-radius: 5rem;
          font-size: 12px;
        }
      }
    }

    & ul {
      opacity: 1;
      top: 0;
      left: 0;
      display: none;
      flex-direction: column;
      flex-wrap: wrap;
      position: absolute;
      padding: 160px 0 80px calc(((100vw - #{$box}) / 2) + 20px); // 5px is temporary fix
      z-index: 1;
      text-transform: lowercase;
      font-size: 16px;

      @include view(lg-min) {
        max-height: 420px;
      }

      @include view(desktop-box) {
        padding: 160px 0 80px 20px;
      }

      @include view(md-max) {
        display: block;
        position: absolute;
        overflow-y: auto;
        width: 100%;
        max-height: 100dvh;
        padding-top: 40px;
        padding-bottom: 200px; // Hack for absolute Dropdown. Could be Better.
        background-color: $white;
        left: 100%;
      }

      @include view(ultra) {
        max-height: cross-media(420px, 3000px, 630px);
        padding: cross-media(160px, 3000px, 240px) 0
          cross-media(80px, 3000px, 120px)
          calc(((100vw - #{cross-media($box, 3000px, 2560px)}) / 2) + 20px); // 5px is temporary fix
        font-size: cross-media(16px, 3000px, 24px);
      }

      & li {
        // @include view(md-max) {
        //   padding: 0px 40px;
        // }

        &:after {
          @include view(md-max) {
            content: "";
          }
        }
      }

      & li:first-child {
        min-width: 270px;
        @include view(ultra) {
          min-width: cross-media(270px, 3000px, 405px);
        }
      }

      & a {
        @include view(lg-min) {
          clip-path: "polygon(0 0, 110% 0, 110% 0, 0 0)";
          visibility: hidden;
        }
      }
    }
  }

  & a {
    @include view(lg-min) {
      z-index: 10;
    }
  }

  &-1 {
    ul {
      justify-content: start;
    }
  }

  &-2 {
    display: flex;
    align-items: center;

    ul {
      justify-content: end;
    }
  }

  &__dropdown-background {
    background-color: $white;
    backdrop-filter: blur(5px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    width: 100svw;
    min-height: 430px;
    z-index: -1;

    @include view(md-max) {
      display: none;
    }

    @include view(ultra) {
      min-height: cross-media(430px, 3000px, 645px);
    }
  }
}

.dropdown-menu-overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  // top: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba($black, 0.6);
}

// Search
.search {
  position: relative;

  @include view(md-max) {
    order: 2;
  }

  &__background,
  &__toggle {
    border-radius: 50%;
    top: 5em;
    right: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $white;

    @include view(md-max) {
      background-color: transparent;
    }
  }

  &__toggle {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
    cursor: pointer;

    @include view(md-max) {
      justify-content: end;
    }

    &--open {
      &:after {
        @include icon("\e901");
        color: $black;
        font-size: 20px;

        @include view(ultra) {
          font-size: calc(1.5 * 20px);
          font-size: cross-media(20px, 3000px, 30px);
        }
      }
    }

    &--close {
      visibility: hidden;
      opacity: 0;

      &:after {
        content: "✕";
        color: $black;
        font-size: 1.5rem;

        @include view(ultra) {
          font-size: calc(1.5 * 1.5rem);
          font-size: cross-media(1.5rem, 3000px, 2.25rem);
        }
      }
    }
  }

  &__background {
    position: absolute;
    background-color: $white;
    transform: scale(0);
    // display: none;
    z-index: 100;
    // transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__modal-container {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-height: 100svh;
    opacity: 0;
    width: 100%;
    background: $white;
    visibility: hidden;
    z-index: 200;
    // transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__modal {
    position: absolute;
    z-index: 500;
    inset: 0;
  }
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  gap: $gap;
  z-index: 102;
  height: 100%;

  &__input {
    border: none;
    border-bottom: solid 1px $black;
    background: $white;
    font-size: 48px;

    @include view(ultra) {
      font-size: calc(1.5 * 48px);
      font-size: cross-media(48px, 3000px, 72px);
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: $white;

    &:after {
      @include icon("\e901");
      color: $black;
      font-size: 48px;

      @include view(ultra) {
        font-size: calc(1.5 * 48px);
        font-size: cross-media(48px, 3000px, 72px);
      }
    }
  }
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: cross-media(8px, 991px, 16px);

    @include view(lg-min) {
      max-width: 65%;
    }
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.card-icon {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: cross-media(20px, 991px, 40px);

  @include view(md-max) {
    grid-template-rows: revert;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}

// Move it from here
.page-info {
  margin-top: cross-media(160px, 991px, 280px);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__heading {
    font-weight: 300;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: cross-media(8px, 991px, 16px);

    @include view(lg-min) {
      max-width: 65%;
    }
  }
}

// Archive News
.archive-news {
  &__article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: cross-media(20px, 991px, 40px);
    padding: cross-media(32px, 991px, 56px) 0;
    border-top: solid 1px $black;

    @include view(md-max) {
      grid-template-columns: 1fr;
    }

    &:first-child {
      padding: 0 0 cross-media(32px, 991px, 56px);
      border: none;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: cross-media(8px, 991px, 16px);

    @include view(lg-min) {
      max-width: 60%;
    }
  }

  &__date {
    font-size: cross-media(14px, 991px, 16px);
    padding-bottom: cross-media(8px, 991px, 12px);
  }

  &__heading {
    font-weight: 400;
    text-transform: revert;
  }

  // &__image-container {
  //   max-width: 680px;

  //   @include view(ultra) {
  //     max-width: cross-media(680px, 300px, 1020px);
  //   }
  // }

  &__image {
    // aspect-ratio: 14/9;
    width: 100%;
    max-height: 550px;
    object-fit: cover;

    @include view(ultra) {
      max-height: cross-media(550px, 3000px, 825px);
    }
  }
}

.archive-grid {
  position: relative; // For AJAX loader
  display: grid;
  gap: cross-media(8px, 1024px, 16px);

  @include view(lg-min) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__bottom {
    display: grid;
    place-content: center;
    padding-block: cross-media(16px, 1024px, 32px);
  }

  &__no-more-posts {
    display: none;
  }

  &__loader {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: grid;
    place-content: center;
    background-color: rgba($black, 0.3);
  }
}

/*
// BOILERPLATE TABS
.tabs {
  &__buttons {
    display: flex;
  }

  &__button {
    padding: cross-media(8px, 1024px, 16px) cross-media(16px, 1024px, 32px);
    border: solid 1px rgba($primary, 0.2);
    cursor: pointer;
    transition: all ease 300ms;

    &:hover {
      border: solid 1px rgba($primary, 1);
    }

    &--active {
      background-color: $primary;
      color: $secondary;
    }
  }

  &__content {
    padding: cross-media(8px, 1024px, 16px);
    &--hidden {
      display: none;
    }
  }
}
*/

.tabs {
  &__buttons-container {
    overflow: hidden;
    display: flex;
    gap: 24px;

    @include view(md-max) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__button {
    @include clear-styles;
    color: rgba($black, 0.5);
    transition: 0.3s;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;

    &--active {
      text-decoration: underline;
      color: $black;
    }
  }

  &__content {
    font-size: 14px;
    padding: 24px 0 24px 0;
  }
}

.accordion {
  &__item {
    border: solid 1px rgba($primary, 0.2);
    transition: border ease 300ms;

    &:hover {
      border: solid 1px rgba($primary, 1);
    }

    &--open {
      border: solid 1px rgba($primary, 1);
    }
  }

  &__button,
  &__text {
    padding: cross-media(8px, 1024px, 16px);
  }

  &__button {
    cursor: pointer;
    transition: all ease 300ms;

    &--active {
      background-color: $primary;
      color: $white;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 300ms;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: cross-media(8px, 1024px, 16px);

  @include view(md-max) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    cursor: pointer;
  }
}

.lightbox {
  position: fixed;
  inset: 0;
  z-index: 1000;
  // display: grid;
  align-items: center;
  padding-bottom: cross-media(24px, 1024px, 48px);
  background-color: rgba($black, 0.8);
  color: $white;
  text-align: center;
  visibility: visible;
  opacity: 1;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }

  &__container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  &__img-container {
    margin-inline: auto;
    padding-bottom: cross-media(20px, 1024px, 40px);

    & img {
      margin-inline: auto;

      @include view(lg-min) {
        height: 100%;
      }
    }
  }

  &__close {
    width: 100%;
    color: $white;
    text-align: right;
  }

  &__close-button {
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  // Carousel Related Styles
  & .carousel__container {
    height: 100%;
  }

  & .carousel__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // grid-template-rows: 1fr auto;
    // gap: cross-media(20px, 1024px, 40px);

    // @include view(lg-min) {
    //   grid-template-rows: 1fr auto;
    // }
  }

  & .carousel__button {
    &:after {
      color: $white;
    }
  }

  & .carousel__dot {
    height: 2px;
    width: 100%;
    background-color: rgba($white, 0.3);
    cursor: pointer;
  }

  & .glide__bullet--active {
    background-color: $white;
  }
}

// Instagram
.instagram {
  margin-top: cross-media(120px, 991px, 240px);
  &__text-container {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @include view(md-max) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__hashtag {
    color: $black-op-50;
    text-transform: lowercase;
  }

  &__container {
    display: flex;
    gap: cross-media(2px, 991px, 8px);
    align-items: center;
    margin-top: cross-media(24px, 991px, 48px);

    // @include view(md-max) {
    //   padding: 0 20px;
    // }
  }

  &__container > * {
    flex-shrink: 0;
  }

  &__column {
    margin: auto;
  }

  &__image {
    max-width: cross-media(150px, 991px, 352px);
    max-height: cross-media(150px, 991px, 352px);
    aspect-ratio: 1;
    object-fit: cover;

    @include view(ultra) {
      // max-width: calc(1.5 * 22rem);
      max-width: cross-media(352px, 3000px, 704px);
      max-height: cross-media(352px, 3000px, 704px);
    }
  }
}

// Banner
.banner {
  margin-top: cross-media(100px, 991px, 200px);
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;

  &__wrapper {
    position: relative;
    min-height: cross-media(350px, 991px, 660px);
  }

  &__container {
    position: absolute;
    left: 0;
    bottom: -50px;

    @include view(md-max) {
      bottom: revert;
      top: 80px;
    }
  }

  &__text-background {
    position: absolute;
    z-index: 1;
    width: 550px;
    height: cross-media(300px, 991px, 500px);
    background-color: rgba($secondary, 0.7);
    mix-blend-mode: multiply;

    @include view(md-max) {
      left: 0;
      right: 0;
      margin: auto;
      width: cross-media(330px, 767px, 700px);
    }

    @include view(ultra) {
      width: cross-media(550px, 3000px, 825px);
      height: cross-media(500px, 3000px, 600px);
    }
  }

  &__text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: cross-media(20px, 991px, 40px);
    width: cross-media(270px, 991px, 550px);
    height: 500px;
    padding: 40px 65px 160px;
    z-index: 2;

    @include view(md-max) {
      width: 100%;
      height: 600px;
      gap: cross-media(8px, 767px, 40px);
    }

    @include view(ultra) {
      width: cross-media(550px, 3000px, 825px);
      height: cross-media(500px, 3000px, 600px);
    }
  }

  &__subheading {
    font-weight: 300;
  }
}

// Newsletter
.newsletter {
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;

    @include view(md-max) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__email {
    flex-grow: 1;
    flex-basis: 100%;
    background: transparent;
    border: none;
    border-bottom: solid 1px $black;

    &::placeholder {
      opacity: 1;
      color: $black;
    }
  }

  &__button {
    background: transparent;
    border: none;
  }
}

// Footer
.footer {
  padding: cross-media(80px, 991px, 160px) 0 40px;
  overflow-x: hidden;

  &__container {
    display: grid;

    @include view(lg-min) {
      grid-template-areas: "newsletter menu info" "social menu info";
      justify-items: center;
    }
    grid-row-gap: cross-media(40px, 991px, 80px);
    // padding: 5rem 0 2rem;
  }

  &__newsletter {
    @include view(lg-min) {
      grid-area: newsletter;
      justify-self: start;
    }
  }

  &__social {
    @include view(lg-min) {
      grid-area: social;
      justify-self: start;
    }
  }

  &__social-links {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    margin-top: 1.5rem;
  }

  &__menu {
    @include view(lg-min) {
      grid-area: menu;
    }
  }

  &__contact-info {
    @include view(lg-min) {
      grid-area: info;
    }
  }

  &__contact-info-list {
    margin: 1.5rem 0;
    padding: 0;
  }

  &__contact-info-item {
    list-style-type: none;
  }
}

// Footer Menu
.footer-menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: cross-media(12px, 991px, 24px);
    margin: 0;
    padding: 0;

    & li {
      list-style-type: none;
      font-size: 20px;
      text-transform: uppercase;

      // 4K
      @include view(ultra) {
        font-size: cross-media(20px, 3000px, 30px);
      }
    }
  }
}
