// Lenis
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

// Marquee
.js-marquee-wrapper,
.js-marquee {
  display: flex !important;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
