// Remove borders, outlines & backgrounds
@mixin clear-styles {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  list-style-type: none;
}

// Icons
@mixin icon($asci: "") {
  content: $asci;
  font-family: "icomoon";
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Cross Media Sizes
@function cross-media($min, $breakpoint, $max, $negative: 1) {
  $viewport-width: calc($max * 100 / $breakpoint);

  @if $negative == -1 {
    @return calc(clamp($min, $viewport-width * 1vw, $max) * -1);
  } @else {
    @return clamp($min, $viewport-width * 1vw, $max);
  }
}
