.main-next-gen {
  background-color: $dark-blue;
}

.hero-next-gen {
  &__container {
    display: grid;
    align-items: start;
    min-height: revert;

    @include view(lg-min) {
      grid-template-columns: 1fr 1fr;
    }

    & .banner__container {
      bottom: 0;
    }

    & .banner__text-background {
      background-color: $secondary;
      mix-blend-mode: revert;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    gap: cross-media(20px, $box, 40px);
  }

  &__img-container {
    &--1 {
      position: relative;
      padding-bottom: cross-media(75px, $box, 150px);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        bottom: cross-media(75px, $box, 150px);
        margin: auto;
        z-index: 0;
        transform: scale(2);
        aspect-ratio: 1 / 1;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba($primary, 0.4) 0%,
          transparent 100%
        );
        pointer-events: none;
        filter: blur(16px);
      }

      & img {
        position: relative;
        z-index: 2;
      }
    }

    &--2 {
      margin-top: auto;
    }
  }
}

.intro-next-gen {
  &__container {
    background: linear-gradient(to bottom, $dark-blue, $secondary);
  }

  &__accent-box {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset-inline: auto;
      top: -1px;
      background-color: $secondary;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      transform: translateX(-50%);
      width: cross-media(26px, $box, 46px);
      height: cross-media(14px, $box, 24px);
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.highlights-next-gen {
  &__container {
    display: grid;
    gap: cross-media(20px, $box, 40px);

    @include view(lg-min) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

.stats-next-gen {
  background: linear-gradient(to bottom, $dark-blue, $secondary);

  &__logos {
    display: flex;
    justify-content: center;
    gap: cross-media(20px, $box, 40px);
  }

  &__line-1,
  &__line-3 {
    width: calc((100vw - #{$box}) / 2);
  }
  // &__line-2 {
  //   width: 100%;
  // }

  &__list {
    display: grid;
    justify-content: center;
    // gap: cross-media(20px, $box, 40px);
    overflow-x: auto;

    @include view(md-max) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include view(lg-min) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__item-img {
    position: relative;
    z-index: 1;
  }

  &__item-text-container {
    position: relative;
    display: flex;
    gap: 8px;
    margin-left: 15px;
    margin-top: -15px;

    &::before {
      content: "";
      background-color: $accent;
      width: 1px;
    }

    & > div {
      padding-top: 15px;
    } 
  }
}

.how-it-works-next-gen {
  &__list {
    display: grid;
    gap: cross-media(20px, $box, 40px);
    grid-template-columns: repeat(4, 1fr);
    margin-top: cross-media(21px, $box, 32px, -1);

    @include view(sm-max) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include view(xxl) {
      margin-top: cross-media(32px, 3000px, 32px * $xxl-scale, -1);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__number {
    width: cross-media(42px, $box, 64px);
    height: cross-media(42px, $box, 64px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    @include view(xxl) {
      width: cross-media(64px, 3000px, calc(64px * $xxl-scale));
    }
  }
}

.card-next-gen {
  &__container {
    &--1 {
      background: linear-gradient(
        to bottom,
        $accent 0%,
        $accent 80%,
        $dark-blue 80%,
        $dark-blue 100%
      );
    }
  }

  &__text-container {
    display: grid;
    gap: cross-media(20px, $box, 40px);

    @include view(lg-min) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__image-grid {
    background-color: #f3f3f3;
  }
}

.banner-next-gen {
  &__image {
    min-width: 700px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &__text-container {
    position: relative;
    margin-top: cross-media(100px, $box, 195px, -1);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: cross-media(20px, $box, 40px);
    align-items: center;
  }

  &__line {
    margin-block: cross-media(20px, $box, 40px);
  }

  &__capsules {
    display: grid;
    gap: cross-media(16px, $box, 32px);

    @include view(lg-min) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__capsule {
    display: flex;
    gap: cross-media(16px, $box, 32px);
    align-items: center;
    padding: cross-media(20px, $box, 40px);
    border-radius: cross-media(60px, $box, 120px);
    background-color: $secondary;
  }
}

.carousel-next-gen {
  & .carousel__heading {
    padding-bottom: cross-media(20px, $box, 40px);

    @include view(xxl) {
      padding-bottom: cross-media(40px, 3000px, calc(40px * $xxl-scale));
    }
  }

  & .carousel__controls {
    padding-inline: cross-media(20px, $box, 40px);

    @include view(xxl) {
      padding-inline: cross-media(40px, 3000px, calc(40px * $xxl-scale));
    }
  }

  & .carousel__button {
   color: $black;
  }
}

.why-next-gen {
  &__container {
    background-color: $secondary;
  }

  &__content {
    display: grid;
    gap: cross-media(20px, $box, 40px);

    @include view(lg-min) {
      grid-template-columns: 2fr 1fr;
    }

    & img {
      width: 100%;
    }
  }

  &__list {
    & ul {
      margin: 0;
      padding: 0;
    }

    & li {
      display: flex;
      gap: 8px;
      margin: 0;
      padding: 0;
      list-style-type: none;

      &::before {
        content: "";
        background: url(../../assets/img/check.svg) no-repeat center center;
        background-size: contain;
        width: 24px;
        height: 24px;
        margin-left: 8px;
      }
    }

    @include view(lg-min) {
      max-width: 800px;
      max-height: 400px;
      column-count: 2;
    }
  }
}
