// Positioning/ Spacing
.boxed {
  max-width: $box + $padding-inline;
  padding-inline: cross-media($padding-inline-mob, $box, $padding-inline);

  @include view(xxl) {
    max-width: cross-media($box, $xxl-breakpoint, $box-4k);
  }
}

.boxed-md {
  max-width: $box-md + $padding-inline;
  padding-inline: cross-media($padding-inline-mob, $box-md, $padding-inline);

  @include view(xxl) {
    max-width: cross-media($box-md, $xxl-breakpoint, $box-md-4k);
  }
}

.boxed-desktop {
  @include view(lg-min) {
    max-width: $box + $padding-inline;
    padding-inline: $padding-inline;
  }
}

.boxed-sm {
  max-width: $box-sm + $padding-inline;
  padding-inline: cross-media($padding-inline-mob, $box-sm, $padding-inline);

  @include view(xxl) {
    max-width: cross-media($box-sm, $xxl-breakpoint, $box-sm-4k);
  }
}

.boxed-4k {
  @include view(xxl) {
    max-width: cross-media($box, $xxl-breakpoint, $box-4k);
    padding-inline: $padding-inline;
  }
}

.centered {
  margin-inline: auto;
}

.centered-4k {
  @include view(xxl) {
    margin-inline: auto;
  }
}

.centered-desktop {
  @include view(lg-min) {
    margin-inline: auto;
  }
}

.centered-mob {
  @include view(md-max) {
    margin-inline: auto;
  }
}

.width-full {
  width: 100%;
}

.push-left {
  margin-left: max(
    calc((100vw - #{$box}) / 2),
    cross-media($padding-inline-mob, $box, $padding-inline)
  );
  @include view(box-min) {
    margin-left: calc((100vw - #{$box}) / 2);
  }

  @include view(xxl) {
    margin-left: calc(
      (100vw - cross-media($box, $xxl-breakpoint, $box-4k)) / 2
    );
  }
}

.push-right {
  @include view(box-min) {
    margin-right: calc((100vw - #{$box}) / 2);
  }

  @include view(xxl) {
    margin-right: calc(
      (100vw - cross-media($box, $xxl-breakpoint, $box-4k)) / 2
    );
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.no-padding {
  padding-inline: 0;
}

.inline-padding {
  padding-inline: $padding-inline-mob;
}

.bottom-padding {
  padding-bottom: cross-media(40px, 1024px, 80px);
  @include view(xxl) {
    padding-bottom: cross-media(80px, $xxl-breakpoint, calc(80px * $xxl-scale));
  }
}

.first-section {
  padding-block: cross-media(150px, 1024px, 210px)
    cross-media(75px, 1024px, 100px);
  @include view(xxl) {
    padding-block: cross-media(210px, $xxl-breakpoint, calc(210px * $xxl-scale))
      cross-media(100px, 3000px, calc(100px * $xxl-scale));
  }
}

.basic {
  padding-block: cross-media(20px, 1024px, 40px);
  @include view(xxl) {
    padding-block: cross-media(40px, $xxl-breakpoint, calc(40px * $xxl-scale));
  }
}

.basic-section {
  padding-block: cross-media(50px, 1024px, 100px);
  @include view(xxl) {
    padding-block: cross-media(
      100px,
      $xxl-breakpoint,
      calc(100px * $xxl-scale)
    );
  }
}

.last-section {
  padding-bottom: cross-media(150px, 1024px, 200px);
  @include view(xxl) {
    padding-bottom: cross-media(
      200px,
      $xxl-breakpoint,
      calc(200px * $xxl-scale)
    );
  }
}

.flex {
  display: flex;
  align-items: center;
}

.two-col-grid {
  display: grid;
  gap: cross-media(24px, $box, 48px);

  @include view(lg-min) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @include view(xxl) {
    gap: cross-media(96px, $xxl-breakpoint, calc(96px * $xxl-scale));
  }
}

.margin-p {
  & p {
    margin-block: 20px;

    @include view(xxl) {
      margin-block: cross-media(20px, $xxl-breakpoint, calc(20px * $xxl-scale));
    }
  }
}

.auto-fit-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

// Typography
.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extrabold {
  font-weight: 700;
}

.black-weight {
  font-weight: 900;
}

.italic {
  font-style: italic;
  font-family: "InterTight Italic";
}

.underline {
  display: flex;
  flex-wrap: wrap;

  &:before {
    content: "";
    flex-grow: 1;
    order: 1;

    // border-bottom: solid 1px $black-op-50;
    border-bottom: solid 1px $secondary;
    width: 100%;
  }

  &--white {
    &:before {
      border-color: $white;
    }
  }
}

.normal {
  text-transform: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.line-height-s {
  line-height: 1.2;
}

.letter-spacing-wide {
  letter-spacing: 0.25em;
}

.letter-spacing-medium {
  letter-spacing: 0.2em;
}

.text-center {
  text-align: center;
}

// Visibility
.hidden {
  display: none !important;
}

.hidden-desktop {
  @include view(lg-min) {
    display: none !important;
  }
}

.hidden-mobile {
  @include view(md-max) {
    display: none !important;
  }
}

// Colors
.black {
  color: $black;
}

.white {
  color: $white;
}

.white-bg {
  background-color: $white;
}

.primary {
  color: $primary;
}

.accent {
  color: $accent;
}

.accent-bg {
  background-color: $accent;
}

.light-blue-bg {
  background-color: rgba($light-blue, 0.2);
}
