// Basic
$black: #000;
$dark-blue: #151f28;
$light-blue: #4c687c;
$white: #fcfcfc;
$primary: #e8e7e0;
$light-gray: #f1f1f1;

// Accent
$secondary: #5b697b;
$accent: #c44a37;

// Variations
$black-op-50: rgba($black, 0.5);
$white-op-80: rgba($white, 0.8);

// Boxes
$box: 1800px;
$box-4k: 2700px;
$box-md: 1380px;
$box-md-4k: 2070px;
$box-sm: 1100px;
$box-sm-4k: 1650px;

// Padding
$padding-inline: 40px;
$padding-inline-mob: 20px;

//XXL Scale
$xxl-scale: 1.5;
$xxl-breakpoint: 3000px;

// Gaps
$gap: 48px;
