// Colors
$white: #fff;
$black: #000;
$primary: #002454;
$secondary: #eef0f3;
$accent: #d01a2f;

// Boxes
$box: 1440px;
$box-4k: 2880px;
$box-sm: 1100px;
$box-sm-4k: 2200px;

// Padding
$padding-inline: 40px;
$padding-inline-mob: 20px;

//XXL Scale
$xxl-scale: 1.5;
